AUTHORS
ChangeLog
*.pyc
__pycache__/
etc/accounts.yaml
etc/*.conf
*.log
*.swp
*.swo
*.egg*
.tox
.venv
dist
build
.testrepository
.stestr
.idea
.project
.pydevproject
.coverage*
!.coveragerc
cover/
doc/source/_static/tempest.conf.sample
doc/source/plugin-registry.rst

# Files created by releasenotes build
releasenotes/build

